
.select{
    padding: .5rem;
}

.child-header{
    justify-content: left;
        display: flex;
        /* border: 1px solid green; */
        position: absolute;
      margin-top: 5px;

}

.child-header-title{
text-align: center;
    
}