/* YourTableStyles.css */

.custom-table {
    border: 1px solid rgb(238, 236, 236);
    margin: 1rem 2rem 2rem 2rem;

    border-collapse: collapse;
    width: calc(100% - 4rem);

}

.custom-table th,
.custom-table td {

    padding: 10px;
    text-align: center;
}

.custom-table th {

    border: 1px solid #ddd;
}

tbody tr:nth-child(even) td {
    border: 1px solid #ddd;

}



tbody tr:nth-child(odd) td {

    background-color: #f2f2f2;
}


/* DownLoad Button */
.Download-Button {
    /* border: 1px solid gold; */
    display: flex;
    margin: 1rem 2rem;


}

.list-record {

    color: crimson;
    display: block;

}



.DropDown i {

    background-color: blue;
    color: white;
    border-radius: 50%;
    padding: 2px;
    position: relative;
    right: 15px;
    bottom: 5px;
}

.dropdown-title {
    float: left;
    flex-direction: column;
    display: flex;
}


.status {
    float: left;
    font-size: 1rem;
    font-weight: bold;
    padding: .50rem 0rem;
    text-align: start;
}

.dropdown-content {
    /* border: 1px solid black; */
    margin: 1rem;
    /* background-color: whitesmoke; */
}