.box {
    margin: 15px;
    text-align: center;
 padding: 25px 35px;
 box-sizing: border-box;
 box-shadow: 1px 1px 5px #d3d1d1;
}



.box-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* Apply the styles to the button element */
.box .Box-button {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #2980b9 !important;
    color: #2980b9;
    border-radius: 3px;
    width: 100%;
    border: none;
transition: background-color 0.3s, color 0.3s;
    display: block;
    /* Ensures the button takes the width of its content */
}

.box button:hover {
    background-color: #2980b9;
    color: #fff;
    

}