/* styles.css */

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
}

.label {
  color: #575962;
}

.inputField {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid slategray;
  border-radius: 0.1rem;
}

.inputField::placeholder {
  color: #7e858b;
}

.inputField:focus {
  border: 1px solid #007bff;
  /* Example border color when focused */
  outline: none;
  /* Remove the default focus outline if not needed */
  box-shadow: 0 0 2px rgba(0, 123, 255, 0.5);
  /* Example box shadow when focused */
}

.formContainer {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.25rem;
  text-align: center;
}

.formGrid {
  display: grid;
  gap: 1.25rem;
  margin: 2rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.PurposeGrid {
  padding: 2rem 2rem 0rem 2rem;
}

.Address {
  padding: 0rem 2rem 2rem 2rem;
}

.Submit-button {
  border-radius: 2px;
  margin-left: 10px;
  background-color: #71b944;
  color: white;
  padding: 8px;
  width: 7vw;
  margin: 1rem;
  float: left;
  transition: background-color 0.3s, color 0.3s;
}

.Submit-button:hover {
  background-color: #3f9e04;
}
